*
{
	box-sizing: border-box;
	font-family: cursive;
}
h1
{
	font-size: 175%;
	text-align: center;
}
#i1{background: lightblue;}
#i2{background: brown;}
#i3{background: lightcoral;}
p
{
	padding: 5px;
}
.item{
	background: lightgreen;
	margin: 0px;
	width: 30%;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	position: relative;
	left: 70%;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	height: 30px;
}
.col-lg-4, .col-md-12, .col-md-6, .col-sm-12
{
	margin: 0.5%;
	background: gray;
	border: 2px black solid;
}
@media (min-width: 992px)
{
	.col-lg-4
		{
			width: 32%;
			float: left;
		}
}

@media (min-width: 768px) and (max-width: 991px)
{
		.col-md-6
		{
			width: 48%;
			float: left;
		}
		.col-md-12
		{
			width: 97%;
			clear: both;
		}
}

@media (max-width: 767px)
{
		.col-sm-12
		{
			width: 100%;
		}
}